#root
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.App
{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.navbar
{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-between;
}
.image-section
{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
}
.main-img
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
}
.main-img img
{
    align-self: center;
}
.thumbnails
{
    display: flex;
    align-items: center;
}
.thumbnail-item
{
    list-style: none;
    margin: 5px;
    align-self: center;
}
.thumbnail-item img
{
    height: 10vh;
}